<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Im Ryan Rodricks. As of 2022, I'm pursing B.E in Information Technology at VESIT. This site is uploaded on Heroku and is connected to MongoDb atlus.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>